In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("insurance.csv")
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [3]:
df.shape

(1338, 7)

In [4]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [7]:
x=df.drop(columns=['charges'])
x.head(2)

   age     sex    bmi  children smoker     region
0   19  female  27.90         0    yes  southwest
1   18    male  33.77         1     no  southeast

In [9]:
y=df['charges']
y.head(2)

0    16884.9240
1     1725.5523
Name: charges, dtype: float64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,
                                              random_state=48)

In [12]:
x_train.head(3)

     age     sex    bmi  children smoker     region
655   52  female  25.30         2    yes  southeast
516   20    male  35.31         1     no  southeast
226   28    male  38.06         0     no  southeast

In [13]:
y_train.head(3)

655    24667.41900
516    27724.28875
226     2689.49540
Name: charges, dtype: float64

In [14]:
print("Total data shape:", df.shape)
print("---------------------------")

print("Input data(x) shape:",x.shape)
print("x_train data shape:", x_train.shape)
print("x_test data shape:", x_test.shape)
print("---------------------------")

print("Input data(y) shape:",y.shape)
print("y_train data shape:", y_train.shape)
print("y_test data shape:", y_test.shape)
print("---------------------------")

Total data shape: (1338, 7)
---------------------------
Input data(x) shape: (1338, 6)
x_train data shape: (1070, 6)
x_test data shape: (268, 6)
---------------------------
Input data(y) shape: (1338,)
y_train data shape: (1070,)
y_test data shape: (268,)
---------------------------