In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("covid_toy.csv")

In [3]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.impute import SimpleImputer

In [44]:
si=SimpleImputer()

In [45]:
df["fever"]=si.fit_transform(df[["fever"]])

In [46]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [47]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [48]:
df_label = df.copy()

In [49]:
df_label.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [50]:
from sklearn.preprocessing import LabelEncoder

In [51]:
lb=LabelEncoder()

In [52]:
df_label['gender'] = lb.fit_transform(df_label['gender' ])
df_label['cough'] = lb.fit_transform(df_label['cough'])
df_label['city']= lb.fit_transform(df_label['city'])
df_label['has_covid']= lb.fit_transform(df_label['has_covid'])

# Ordinal Encoder

In [53]:
df_ordinal = df.copy()

In [54]:
df_ordinal.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [55]:
df_ordinal = df_ordinal.drop(columns=["age","fever","city"])

In [56]:
df_ordinal.head(2)

  gender cough has_covid
0   Male  Mild        No
1   Male  Mild       Yes

In [57]:
from sklearn.preprocessing import OrdinalEncoder

In [58]:
oe=OrdinalEncoder(categories=[["Male","Female"],
                              ["Mild","Strong"],
                              ["Yes","No"]])

In [59]:
df_oe = oe.fit_transform(df_ordinal)

In [60]:
df_new=pd.DataFrame(df_oe,columns = df_ordinal.columns)

In [61]:
df_new.head(2)

   gender  cough  has_covid
0     0.0    0.0        1.0
1     0.0    0.0        0.0

# OneHot Encoding

In [ ]:
gender(m,f)......> crewate a new column of these subcategories ..> C1(M),c2(F)

In [62]:
df_one=df.copy()

In [63]:
df_one.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [64]:
from sklearn.preprocessing import OneHotEncoder

In [65]:
oe=OneHotEncoder(drop="first",sparse_output=False)

In [67]:
oe_arr=oe.fit_transform(df_one[["gender","cough","city","has_covid"]])

In [68]:
oe_arr

array([[1., 0., 0., 1., 0., 0.],
       [1., 0., 1., 0., 0., 1.],
       [1., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.],
       [1., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 1., 1.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 1.],
       [0., 1., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0.],
       [1., 1., 0., 1., 0., 1.],
       [0., 0., 0., 1., 0., 1.],
       [0., 1., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0., 1.],
       [1., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 1.],
       [0., 0., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [1., 0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0., 1.],
       [0., 1., 1., 0., 0., 0.],
       [1., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 1., 1.],
       [1., 0., 1., 0., 0., 1.],
       [1., 0., 0., 1., 0., 0.],
       [0., 1., 1., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 1., 1.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 1., 0., 1.],
       [1., 0., 1., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0.],
       [1., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 1., 0.],
       [1., 0., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 0., 0., 1.],
       [1., 0., 1., 0., 0., 1.],
       [0., 0., 0., 0., 1., 1.],
       [0., 0., 0., 0., 1., 1.],
       [1., 1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 1., 0., 0., 1., 1.],
       [0., 0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 0., 1.],
       [0., 1., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 1., 1., 0., 0., 0.],
       [0., 1., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 1., 0., 1., 0., 1.],
       [0., 1., 1., 0., 0., 0.],
       [1., 0., 0., 1., 0., 1.],
       [1., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 1., 1.],
       [1., 0., 1., 0., 0., 0.],
       [1., 0., 0., 1., 0., 1.],
       [0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 1.],
       [1., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 1., 0., 0., 0., 0.],
       [0., 1., 1., 0., 0., 0.],
       [1., 0., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [1., 0., 0., 1., 0., 1.],
       [1., 1., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1.]])

# get_dummies

In [69]:
df_get = df.copy()

In [70]:
df_get.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [72]:
pd.get_dummies(df_get , columns = ["gender","cough","city","has_covid"],
              drop_first=True)

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,60,103.0,True,False,False,True,False,False
1,27,100.0,True,False,True,False,False,True
2,42,101.0,True,False,True,False,False,False
3,31,98.0,False,False,False,True,False,False
4,65,101.0,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...
95,12,104.0,False,False,False,False,False,False
96,51,101.0,False,True,False,True,False,True
97,20,101.0,False,False,False,False,False,False
98,5,98.0,False,True,False,False,True,False
99,10,98.0,False,True,False,True,False,True

In [73]:
d=pd.get_dummies(df_get , columns = ["gender","cough","city","has_covid"],
              drop_first=True)

In [76]:
d.astype(int)

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,60,103,1,0,0,1,0,0
1,27,100,1,0,1,0,0,1
2,42,101,1,0,1,0,0,0
3,31,98,0,0,0,1,0,0
4,65,101,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
95,12,104,0,0,0,0,0,0
96,51,101,0,1,0,1,0,1
97,20,101,0,0,0,0,0,0
98,5,98,0,1,0,0,1,0
99,10,98,0,1,0,1,0,1

# Recap

In [ ]:
# Data Preprocessing Steps-- >
# (1). Data dividation ---- >
# x,y
# x_train , x_test , y_train , y_test
# (2). Stadardiation --- > mean = 0 . std = 1 --- > Normal distribution
# (3). MinMaxScaling --- > min = 0 , max = 1 ---- > Data scaled format
# (4). Encoding --- > Transform your categorical data into Numerical data.
# (4a). Label---- > 1-D data convert.
# (4b) . Ordinal ---- > multi-dimensional data convert and here we can
# set our sub-categories.
# (4c). OneHot --- > column -- > sub-categories --- > New_column
# (4d). get_dummies --- > columns --- > sub-categories --- > New_column+column_name