# Introduction to Machine Learning

In [9]:

# Data(df) --- > x(input) , y(output)
# x ----- > x_train , x_test
# y ---- > y_train , y_test

# Machine find the relation between input to target data .

# Machine (input) --- > output ????

# Machine(x_train , y_train) ---- > Machine(x_test) ---- > output ?????
# Actual_output = y_test , Machine_predict = y_pred

# Machine Capability ---- > y_test <--- > y_pred

# Step-1 Data Dividation

In [10]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv("covid_toy.csv")

In [14]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [17]:
df.shape

(100, 6)

In [19]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [22]:
df["fever"]=df["fever"].fillna(df["fever"].mean())

In [23]:

df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [24]:
x = df.drop(columns = ['has_covid' ])## Input data
x.head(3)

   age gender  fever cough     city
0   60   Male  103.0  Mild  Kolkata
1   27   Male  100.0  Mild    Delhi
2   42   Male  101.0  Mild    Delhi

In [25]:
y = df['has_covid' ]## target data
y.head(3)

0     No
1    Yes
2     No
Name: has_covid, dtype: object

In [28]:
from sklearn. model_selection import train_test_split

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=30)

In [30]:
print("Total data shape :" , df.shape)
print("--------------------------------" )
print("Input data(x) shape:" , x.shape)
print("x_train data shape:" , x_train. shape)
print("x_test data shape:" , x_test.shape)
print("---------------------------------")
print("Target data shape(y):" , y. shape)
print("y_train data shape :" , y_train.shape)
print("y_test data shape:" , y_test. shape)
print("----------------------------------")

Total data shape : (100, 6)
--------------------------------
Input data(x) shape: (100, 5)
x_train data shape: (80, 5)
x_test data shape: (20, 5)
---------------------------------
Target data shape(y): (100,)
y_train data shape : (80,)
y_test data shape: (20,)
----------------------------------

In [ ]:
# df(100,6) = x(100,5) + y(100,1)
# x(100,5) = x_train(80,5) + x_test(20,5)
# y(100,1) = y_train(80,1) + y_test(20,1)