In [104]:
import numpy as np
import pandas as pd

In [105]:
#Encoding ---- > Transform your categorical data into Numerical data
# Normal Distribution convert.

In [106]:
df=pd.read_csv("covid_toy.csv")

In [107]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [108]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [109]:
from sklearn.impute import SimpleImputer

In [110]:
si = SimpleImputer(strategy="mean")

In [111]:
df["fever"]=si.fit_transform(df[["fever"]])

In [112]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [113]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [114]:
#  Encoding ---- > Transform your categorical data into Numerical data
# # gender ..> M, F ...> 0 ,1

In [115]:
from sklearn.preprocessing import LabelEncoder

In [116]:
lb=LabelEncoder()

In [117]:
z

In [118]:
df.head(3  .. )

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0

In [119]:
x=df.drop(columns=["has_covid"])
y=df["has_covid"]

In [120]:
from sklearn.model_selection import train_test_split

In [121]:
x_train, x_test, y_train , y_test = train_test_split(x,y, test_size=0.2,
random_state=42)

In [122]:
from sklearn.preprocessing import StandardScaler

In [123]:
sc=StandardScaler()

In [124]:
x_train_sc = sc.fit_transform(x_train)  ##fit means learn the parameters and transform means apply on that data

In [125]:
np.round(x_train_sc.describe(),2)

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [ ]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [ ]:
np.round(x_train_new.describe(),2)

# Normalization

In [ ]:
# It turns min_val=0 and max_val=1

In [126]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.41  100.98   0.40   1.30
std    24.47    0.50    1.93   0.49   1.12
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    0.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [127]:
from sklearn.preprocessing import MinMaxScaler

In [136]:
mn= MinMaxScaler()

In [137]:
x_train_mn = mn.fit_transform(x_train)

In [138]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [139]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.41   0.50   0.40   0.43
std     0.31    0.50   0.32   0.49   0.37
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00